<div class="container mx-auto my-4 flex-grow">
  <div class="flex justify-around w-3/4">
    <h2 class="font-blox text-5xl mt-5 mb-8">My Posts</h2>
    <a class="self-center" href="/posts/{{this.id}}"><button class="btn bg-secondary hover:bg-accent text-2xl">Create New Post</button></a>
  </div>
  <div>
    <ul>
      {{#each posts}}
      <li class="my-4">
        <div class="card w-3/4 shadow-xl border-2 border-secondary">
          <div class="card-body">
            <h2 class="card-title mb-5 font-bold text-2xl">{{ this.post_title }}</h2>
            <p class="mb-2 text-xl">{{ this.post_content }}</p>
            <div class="card-actions justify-between">
              <span class="self-end">Date: {{ this.post_date }}</span>
              <a href="/posts/{{this.id}}"><button class="btn bg-secondary hover:bg-accent">View Post</button></a>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<script src="/js/add-post.js"></script>