<div class="container px-2 mx-auto my-4 flex-grow">
	<h2 class="font-blox text-5xl mt-5 mb-8">Posts</h2>
	<div>
		<ul>
			{{#each posts}}
			<li class="my-4">
				<div class="card w-3/4 shadow-xl border-2 border-secondary">
					<div class="card-body">
						<h2 class="card-title mb-5 font-bold text-2xl">{{ this.post_title }}</h2>
						<p class="mb-2 text-xl">{{ this.post_content }}</p>
						<div class="card-actions justify-between">
							<span class="self-end">Author: {{ this.blog_user.username }}</span>
							<span class="self-end">Date: {{ this.post_date }}</span>
							<a href="/posts/{{this.id}}"><button class="btn bg-secondary hover:bg-accent">View Post</button></a>
						</div>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
</div>