<div class="container mx-auto my-4 flex-grow">
  <h2 class="font-blox text-5xl mt-5 mb-8">Post</h2>
  <div>
    <div class="card w-3/4 shadow-xl border-2 border-secondary">
      <div class="card-body">
        <h2 class="card-title mb-5 font-bold text-3xl">{{ post.post_title }}</h2>
        <p class="mb-2 text-2xl">{{ post.post_content }}</p>
        <div class="card-actions justify-between">
          <span class="self-end">Author: {{ post.blog_user.username }}</span>
          <span class="self-end">Date: {{format_date post.createdAt }}</span>
          <button class="btn bg-secondary hover:bg-accent" onclick="newCommentModal.showModal()">Add Comment</button>
        </div>
      </div>
    </div>
    {{#if post.comments}}
    <h3 class="font-blox text-3xl ml-10 mt-6">Comments</h2>
    <ul>
      {{#each post.comments}}
      <li class="my-2">
        <div class="card w-2/3 ml-10 shadow-xl border-2 border-secondary">
          <div class="card-body">
            <p class="mb-2 text-2xl">{{ this.comment_content }}</p>
            <div class="card-actions justify-between">
              <span class="self-end">By: {{ this.blog_user.username }}</span>
              <span class="self-end">Date: {{format_date this.createdAt }}</span>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    {{/if}}
  </div>
</div>

{{!-- Modal to add new comment --}}
<dialog id="newCommentModal" class="modal text-primary">
  <div class="modal-box bg-accent">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-xl mb-5">Enter New Comment Info</h3>
    <form id="newCommentForm">
      <div class="mb-3">
        <label for="comment_content" class="form-label text-lg">Comment</label>
        <textarea class="form-control w-full min-h-32 p-2" name="comment_content"></textarea>
        <input type="hidden" id="postId" value="{{post.id}}" />
      </div>
      <button id="newCommentButton" type="submit" class="btn bg-primary text-secondary hover:bg-secondary hover:text-primary text-2xl self-center">
        Add Comment
      </button>
    </form>
  </div>
</dialog>

<script src="/js/add-comment.js"></script>