<div class="container mx-auto my-4 flex-grow">
  <h2 class="font-blox text-5xl mt-5 mb-8">Post</h2>
  <div>
    <div class="card w-3/4 shadow-xl border-2 border-secondary">
      <div class="card-body">
        <h2 class="card-title mb-5 font-bold text-3xl">{{ post.post_title }}</h2>
        <p class="mb-2 text-2xl">{{ post.post_content }}</p>
        <div class="card-actions justify-between">
          <span class="self-end">Author: {{ post.blog_user.username }}</span>
          <span class="self-end">Date: {{ post.post_date }}</span>
          <a href="/posts/{{post.id}}"><button class="btn bg-secondary hover:bg-accent">Add Comment</button></a>
        </div>
      </div>
    </div>
    {{#if post.comments}}
    <h3 class="font-blox text-3xl ml-10 mt-6">Comments</h2>
    <ul>
      {{#each post.comments}}
      <li class="my-2">
        <div class="card w-2/3 ml-10 shadow-xl border-2 border-secondary">
          <div class="card-body">
            <p class="mb-2 text-2xl">{{ this.comment_content }}</p>
            <div class="card-actions justify-between">
              <span class="self-end">By: {{ this.blog_user.username }}</span>
              <span class="self-end">Date: {{ this.comment_date }}</span>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    {{/if}}
  </div>
</div>